<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    <h1>ログイン</h1>
    <form method="post">
        {% csrf_token %}
        <label>ユーザー名:</label>
        <input type="text" name="username" required><br>

        <label>パスワード:</label>
        <input type="password" name="password" required><br>

        <button type="submit">ログイン</button>
    </form>


    <p>アカウントがない方は <a href="{% url 'work10:register' %}">新規登録</a></p>

    {% if form.errors %}
    <p style="color:red;">ユーザー名またはパスワードが間違っています。</p>
    {% endif %}
</body>

</html>