<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'python_apps_django/reset.css' %}">
    <link rel="stylesheet" href="{% static 'python_apps_django/style.css' %}">
    <title>アプリ一覧</title>
</head>

<body>
    <div class="title">
        <h1>Python Apps Django</h1>
        <p>Djangoを使用したアプリケーション</p>
    </div>
    <ul>
        <li class="card">
            <h2>work05</h2>
            <a href="/work05/profile/">work05を開く</a>
        </li>
        <li class="card">
            <h2>work06</h2>
            <a href="/work06/">work06を開く</a>
        </li>
        <li class="card">
            <h2>work07</h2>
            <a href="/work07/">work07を開く</a>
        </li>
        <li class="card">
            <h2>work08</h2>
            <a href="/work08/">work08を開く</a>
        </li>
        <li class="card">
            <h2>work09</h2>
            <a href="/work09/">work09を開く</a>
        </li>
        <li class="card">
            <h2>work10</h2>
            <a href="/work10/">work10を開く</a>
        </li>

    </ul>
</body>

</html>