<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'work10/reset.css' %}">
    <link rel="stylesheet" href="{% static 'work10/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoリスト</title>
</head>

<body>
    <div class="header_group">
        <h1 class="todoh1">ToDoアプリ</h1>
        {% if request.user.is_authenticated %}
        <div class="user_info">
            <p>ようこそ、{{ request.user.username }}さん</p>
            <form method="post" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">ログアウト</button>
            </form>

        </div>
        {% else %}
        <a href="{% url 'work10:login' %}" class="login">ログイン</a>
        {% endif %}
    </div>

    <hr>
    <h2 class="left_line">新しいタスクの追加</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="task_box">
            <div class="task_elm">
                <label for="id_title" class="todo_task">タスク名:</label>
                {{ form.title }}
            </div>
            <div class="task_elm">
                <label for="id_description" class="todo_task">詳細内容:</label>
                {{ form.description }}
            </div>
            <div class="due_date task_elm">
                <label for="id_due_date" class="todo_task">期限日:</label>
                <input type="date" name="due_date" id="id_due_date" min="1000-01-01" max="9999-12-31"
                    value="{{ form.due_date.value|default_if_none:'' }}">
            </div>
            <button type="submit" class="create_btn">タスクを作成</button>
        </div>
    </form>

    <!-- <a href="{% url 'work09:todo_create' %}">
        <button type="button">タスクを追加</button>
    </a> -->
    <h2 class="left_line">ToDo一覧</h2>
    <div class="filter">
        <p>表示:</p>
        <a href="?status=all{% if sort_order %}&sort={{ sort_order }}{% endif %}" class="all_btn">すべて</a>
        <a href="?status=incomplete{% if sort_order %}&sort={{ sort_order }}{% endif %}" class="completed_btn">未完了</a>
        <a href="?status=completed{% if sort_order %}&sort={{ sort_order }}{% endif %}" class="completed_btn">完了</a>
    </div>
    <div class="sort">
        <p>完了状況</p>
        <p>タスク名</p>
        <p>製作者</p>
        <a href="?sort={{ next_sort }}">
            期限日
            {% if sort_order == 'asc' %}
            ▲
            {% else %}
            ▼
            {% endif %}</a>
        <p>登録日</p>
        <p>完了/未完了</p>
    </div>
    {% if todos %}
    <ul>
        {% for i in todos %}
        <li>
            <div
                class="todo_task_box {% if i.is_completed %} completed {% elif i.due_date < today %} expired {% endif %}">
                <p class="completed_content">{{ i.is_completed }}</p>
                <h3 class="title_content">
                    <a href="{% url 'work10:todo_edit' i.id %}">
                        {{ i.title }}
                    </a>
                </h3>
                <p>{{ i.user.username }}</p>
                <p class="due_date_content">{{ i.due_date|date:"Y年m月d日" }}</p>
                <p>{{ i.created_at|date:"Y年m月d日 H:i" }}</p>
                <a href="{% url 'work10:todo_toggle' i.id %}">
                    <button type="button" class="complete_btn">
                        {% if i.is_completed %}未完了に戻す{% else %}完了にする{% endif %}
                    </button>
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>タスクはまだありません。</p>
    {% endif %}
</body>

</html>