<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>memo</title>
</head>
<style>
    .content {
        display: flex;
        gap: 20px;
    }
</style>

<body>
    <h1>メモ帳アプリ</h1>
    <a href="{% url 'work08:new_memopage' %}">
        <button type="button">メモを追加</button>
    </a>
    <hr>

    <h2>メモ一覧</h2>
    <ul>
        {% if memos %}
        {% for i in memos %}
        <li>
            <h3>{{ i.memo_title }}（ID: {{ i.id }}）</h3>
            <div class="content">
                <a href="{% url 'work08:memopage' i.id %}">
                    <button type="button">編集</button>
                </a>
                <form method="post" action="{% url 'work08:memo_delete' i.id %}">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('本当に削除しますか？')">削除</button>
                </form>
            </div>


            <hr>
        </li>
        {% endfor %}
        {% else %}
        <p>メモはまだありません。</p>
        {% endif %}
    </ul>
</body>

</html>